@font-face {
  src: url(./assets/fonts/ui-sans-v9-light.woff2) format("woff2");
  font-family: "UI Sans";
  font-style: normal;
  font-weight: 300;
}
@font-face {
  src: url(./assets/fonts/ui-sans-v9-regular.woff2) format("woff2");
  font-family: "UI Sans";
  font-style: normal;
  font-weight: 400;
}
@font-face {
  src: url(./assets/fonts/ui-sans-v9-medium.woff2) format("woff2");
  font-family: "UI Sans";
  font-style: normal;
  font-weight: 500;
}
@font-face {
  src: url(./assets/fonts/ui-sans-v9-bold.woff2) format("woff2");
  font-family: "UI Sans";
  font-style: normal;
  font-weight: 700;
}
@font-face {
  src: url(./assets/fonts/ui-sans-v9-black.woff2) format("woff2");
  font-family: "UI Sans";
  font-style: normal;
  font-weight: 900;
}

/* Reusable variable */
:root {
  --link-color: #006fff;
  --link-color-hover: #0059cc;
  --text-color-primary: rgba(0, 0, 0, 0.85);
  --text-color-secondary: #bdbdbd;
  --text-color-header: #808893;
  --icon-color-search: #838691;
  --header-logo-color-default: #50565e;
  --header-logo-color-hover: var(--link-color);
  --header-logo-color-focus: #50565e;
  --background-color: #fff;
  --background-color-header: #f4f5f6;
  --background-color-search-input: #f6f6f8;
}

:root {
  font-family: UI Sans, Lato, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  color: var(--text-color-primary);
  background-color: var(--background-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--link-color);
  text-decoration: none;
}

body {
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  max-height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
