@font-face {
  src: url(./assets/fonts/ui-sans-v9-light.woff2) format('woff2');
  font-family: 'UI Sans';
  font-style: normal;
  font-weight: 300;
}
@font-face {
  src: url(./assets/fonts/ui-sans-v9-regular.woff2) format('woff2');
  font-family: 'UI Sans';
  font-style: normal;
  font-weight: 400;
}
@font-face {
  src: url(./assets/fonts/ui-sans-v9-medium.woff2) format('woff2');
  font-family: 'UI Sans';
  font-style: normal;
  font-weight: 500;
}
@font-face {
  src: url(./assets/fonts/ui-sans-v9-bold.woff2) format('woff2');
  font-family: 'UI Sans';
  font-style: normal;
  font-weight: 700;
}
@font-face {
  src: url(./assets/fonts/ui-sans-v9-black.woff2) format('woff2');
  font-family: 'UI Sans';
  font-style: normal;
  font-weight: 900;
}

:root {
  font-family:
    UI Sans,
    Lato,
    Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  color: rgba(0, 0, 0, 0.85);
  background-color: #fff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #006fff;
  text-decoration: inherit;
}
a:hover {
  color: #006fff;
  text-decoration: none;
}

body {
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  max-height: 100vh;
  margin: 0;
  padding: 0;
}
